<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Forum</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="/">Domov</a></li>
                        <li class="nav-item"><a class="nav-link" href="/cuteCat">Cute Maček</a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout">Odjava</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <h1>Tukaj bodo napisane novi dodatki ali bug fix-i spletne strani</h1>
        

        <form action="">Add text area for requests</form>

    </body>
</html>