<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My 1st Flask project!!!</title>

        <style>
            html{
                font-size:2rem;
                font-family: Verdana, Geneva, Tahoma, sans-serif;   
            }
            p{
                margin: 0;
                padding: 0;
            }

            img{
                max-width: 300px;
                height: auto;
            }

        </style>
    </head>
    <body>
        
        <img src="{{ url }}" alt="funny orange cat">

    </body>
</html>